# Diretórios de build
bin/
obj

# Arquivos de configuração sensíveis
#appsettings.Development.json
#appsettings.json

# Arquivos de log
*.log

# Arquivos de cache
*.cache

# Arquivos de dependências
project.assets.json
*.nuget.*

# Arquivos de solucao
controle_estoque_cshap.sln
